<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="css/styles.css">
        {{#block "head"}}
        {{/block}}
    </head>

    <body>
        {{{body}}}
        {{#block "pageScripts"}}

        {{/block}}
    </body>
</html>